angular-http-flow.txt
[{"id":"a94c074b.56b3f8","type":"http response","z":"21a594f4.de5a6c","name":"","x":750,"y":693,"wires":[]},{"id":"ce2d0dad.31d2f","type":"template","z":"21a594f4.de5a6c","name":"Index","field":"payload","format":"html","template":"<!-- index.html -->\n{{=<% %>=}}\n    <!DOCTYPE html>\n    <!-- define angular app -->\n    <html ng-app=\"scotchApp\">\n    <head>\n      <!-- SCROLLS -->\n      <!-- load bootstrap and fontawesome via CDN -->\n      <link rel=\"stylesheet\" href=\"//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css\" />\n      <link rel=\"stylesheet\" href=\"//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css\" />\n\n      <!-- SPELLS -->\n      <!-- load angular and angular route via CDN -->\n      <script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js\"></script>\n          <script src=\"//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js\"></script>\n      <script src=\"/ui/script.js\"></script>\n    </head>\n    <body ng-controller=\"mainController\">\n\n        <!-- HEADER AND NAVBAR -->\n        <header>\n            <nav class=\"navbar navbar-default\">\n            <div class=\"container\">\n                <div class=\"navbar-header\">\n                    <a class=\"navbar-brand\" href=\"/ui\">Angular Routing Example</a>\n                </div>\n\n                <ul class=\"nav navbar-nav navbar-right\">\n                    <li><a href=\"#\"><i class=\"fa fa-home\"></i> Home</a></li>\n                    <li><a href=\"#about\"><i class=\"fa fa-shield\"></i> About</a></li>\n                    <li><a href=\"#contact\"><i class=\"fa fa-comment\"></i> Contact</a></li>\n                </ul>\n            </div>\n            </nav>\n        </header>\n\n        <!-- MAIN CONTENT AND INJECTED VIEWS -->\n        <div id=\"main\">\n\n            <!-- angular templating -->\n            <!-- this is where content will be injected -->\n            <div ng-view></div>\n\n        </div>\n\n    </body>\n    </html>\n<%={{ }}=%>\n","x":419,"y":602,"wires":[["a94c074b.56b3f8"]]},{"id":"15823a67.ea7dc6","type":"http in","z":"21a594f4.de5a6c","name":"UI Index","url":"/ui","method":"get","swaggerDoc":"","x":202,"y":602,"wires":[["ce2d0dad.31d2f"]]},{"id":"dff148d7.200eb8","type":"http in","z":"21a594f4.de5a6c","name":"UI Application","url":"/ui/script.js","method":"get","swaggerDoc":"","x":193,"y":843,"wires":[["6c66c471.93993c"]]},{"id":"6c66c471.93993c","type":"template","z":"21a594f4.de5a6c","name":"application","field":"payload","format":"text","template":"// script.js\n\n    // create the module and name it scotchApp\n    // also include ngRoute for all our routing needs\n    var scotchApp = angular.module('scotchApp', ['ngRoute']);\n\n    // configure our routes\n    scotchApp.config(function($routeProvider) {\n        $routeProvider\n\n            // route for the home page\n            .when('/', {\n                templateUrl : 'pages/home.html',\n                controller  : 'mainController'\n            })\n\n            // route for the about page\n            .when('/about', {\n                templateUrl : 'pages/about.html',\n                controller  : 'aboutController'\n            })\n\n            // route for the contact page\n            .when('/contact', {\n                templateUrl : 'pages/contact.html',\n                controller  : 'contactController'\n            });\n    });\n\n    // create the controller and inject Angular's $scope\n    scotchApp.controller('mainController', function($scope) {\n        // create a message to display in our view\n        $scope.message = 'Everyone come and see how good I look!';\n    });\n\n    scotchApp.controller('aboutController', function($scope) {\n        $scope.message = 'Look! I am an about page.';\n    });\n\n    scotchApp.controller('contactController', function($scope) {\n        $scope.message = 'Contact us! JK. This is just a demo.';\n    });","x":408,"y":844,"wires":[["a94c074b.56b3f8"]]},{"id":"a32a10cd.5cd5f","type":"template","z":"21a594f4.de5a6c","name":"UI Stylesheet","field":"payload","format":"text","template":"","x":398,"y":890,"wires":[["a94c074b.56b3f8"]]},{"id":"bb746299.448ba","type":"http in","z":"21a594f4.de5a6c","name":"UI Style","url":"/ui/ui.css","method":"get","swaggerDoc":"","x":211,"y":890,"wires":[["a32a10cd.5cd5f"]]},{"id":"c5ec19d1.3a13e8","type":"template","z":"21a594f4.de5a6c","name":"Home","field":"payload","format":"text","template":"{{=<% %>=}}\n    <!-- home.html -->\n    <div class=\"jumbotron text-center\">\n        <h1>Home Page</h1>\n\n        <p>{{ message }}</p>\n    </div>\n<%={{ }}=%>\n","x":420,"y":646,"wires":[["a94c074b.56b3f8"]]},{"id":"b26b74b3.4d9488","type":"http in","z":"21a594f4.de5a6c","name":"UI Home","url":"/pages/home.html","method":"get","swaggerDoc":"","x":204,"y":646,"wires":[["c5ec19d1.3a13e8"]]},{"id":"c9ec6bc7.361398","type":"template","z":"21a594f4.de5a6c","name":"About","field":"payload","format":"text","template":"{{=<% %>=}}\n    <!-- about.html -->\n    <div class=\"jumbotron text-center\">\n        <h1>About Page</h1>\n        <p>{{message}}</p>\n    </div>\n<%={{ }}=%>","x":420,"y":688,"wires":[["a94c074b.56b3f8"]]},{"id":"54e07c9c.ab1f84","type":"http in","z":"21a594f4.de5a6c","name":"UI About","url":"/pages/about.html","method":"get","swaggerDoc":"","x":205,"y":689,"wires":[["c9ec6bc7.361398"]]},{"id":"efcd18c8.1032e8","type":"template","z":"21a594f4.de5a6c","name":"Contact","field":"payload","format":"html","template":"{{=<% %>=}}\n    <!-- contact.html -->\n    <div class=\"jumbotron text-center\">\n        <h1>Contact Page</h1>\n\n        <p>{{ message }}</p>\n    </div>\n<%={{ }}=%>\n","x":417,"y":732,"wires":[["a94c074b.56b3f8"]]},{"id":"fdab5005.0254b","type":"http in","z":"21a594f4.de5a6c","name":"UI Contact","url":"/pages/contact.html","method":"get","swaggerDoc":"","x":202,"y":733,"wires":[["efcd18c8.1032e8"]]}]