angular-http-flow.txt
[{"id":"cc66bc34.33994","type":"http response","z":"2e956e24.d16a92","name":"","x":946,"y":441,"wires":[]},{"id":"c4a4af75.3b5b5","type":"template","z":"2e956e24.d16a92","name":"Index","field":"payload","format":"html","template":"<!-- index.html -->\n    <!DOCTYPE html>\n    <!-- define angular app -->\n    <html ng-app=\"scotchApp\">\n    <head>\n      <!-- SCROLLS -->\n      <!-- load bootstrap and fontawesome via CDN -->\n      <link rel=\"stylesheet\" href=\"//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css\" />\n      <link rel=\"stylesheet\" href=\"//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css\" />\n\n      <!-- SPELLS -->\n      <!-- load angular and angular route via CDN -->\n      <script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js\"></script>\n          <script src=\"//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js\"></script>\n      <script src=\"/ui/script.js\"></script>\n    </head>\n    <body ng-controller=\"mainController\">\n\n        <!-- HEADER AND NAVBAR -->\n        <header>\n            <nav class=\"navbar navbar-default\">\n            <div class=\"container\">\n                <div class=\"navbar-header\">\n                    <a class=\"navbar-brand\" href=\"/ui\">Angular Routing Example</a>\n                </div>\n\n                <ul class=\"nav navbar-nav navbar-right\">\n                    <li><a href=\"#\"><i class=\"fa fa-home\"></i> Home</a></li>\n                    <li><a href=\"#about\"><i class=\"fa fa-shield\"></i> About</a></li>\n                    <li><a href=\"#contact\"><i class=\"fa fa-comment\"></i> Contact</a></li>\n                </ul>\n            </div>\n            </nav>\n        </header>\n\n        <!-- MAIN CONTENT AND INJECTED VIEWS -->\n        <div id=\"main\">\n            {{ message }}\n            <!-- angular templating -->\n            <!-- this is where content will be injected -->\n            <div ng-view></div>\n\n        </div>\n\n    </body>\n    </html>","x":579,"y":296,"wires":[["cc66bc34.33994"]]},{"id":"8eb33127.714cd","type":"http in","z":"2e956e24.d16a92","name":"UI Index","url":"/ui","method":"get","swaggerDoc":"","x":362,"y":296,"wires":[["c4a4af75.3b5b5"]]},{"id":"79037bf9.86fc84","type":"http in","z":"2e956e24.d16a92","name":"UI Application","url":"/ui/script.js","method":"get","swaggerDoc":"","x":353,"y":537,"wires":[["f88c04db.0773f8"]]},{"id":"f88c04db.0773f8","type":"template","z":"2e956e24.d16a92","name":"application","field":"payload","format":"text","template":"// script.js\n\n    // create the module and name it scotchApp\n        // also include ngRoute for all our routing needs\n    var scotchApp = angular.module('scotchApp', ['ngRoute']);\n\n    // configure our routes\n    scotchApp.config(function($routeProvider) {\n        $routeProvider\n\n            // route for the home page\n            .when('/', {\n                templateUrl : 'pages/home.html',\n                controller  : 'mainController'\n            })\n\n            // route for the about page\n            .when('/about', {\n                templateUrl : 'pages/about.html',\n                controller  : 'aboutController'\n            })\n\n            // route for the contact page\n            .when('/contact', {\n                templateUrl : 'pages/contact.html',\n                controller  : 'contactController'\n            });\n    });\n\n    // create the controller and inject Angular's $scope\n    scotchApp.controller('mainController', function($scope) {\n        // create a message to display in our view\n        $scope.message = 'Everyone come and see how good I look!';\n    });\n\n    scotchApp.controller('aboutController', function($scope) {\n        $scope.message = 'Look! I am an about page.';\n    });\n\n    scotchApp.controller('contactController', function($scope) {\n        $scope.message = 'Contact us! JK. This is just a demo.';\n    });","x":568,"y":537,"wires":[["cc66bc34.33994"]]},{"id":"357273c2.ca8d8c","type":"template","z":"2e956e24.d16a92","name":"UI Stylesheet","field":"payload","format":"text","template":"","x":558,"y":584,"wires":[["cc66bc34.33994"]]},{"id":"675d9d4f.98a264","type":"http in","z":"2e956e24.d16a92","name":"UI Style","url":"/ui/ui.css","method":"get","swaggerDoc":"","x":371,"y":584,"wires":[["357273c2.ca8d8c"]]},{"id":"e6aa36b3.1955c8","type":"template","z":"2e956e24.d16a92","name":"Home","field":"payload","format":"html","template":"    <!-- home.html -->\n    <div class=\"jumbotron text-center\">\n        <h1>Home Page</h1>\n\n        <p>{{ message }}</p>\n    </div>","x":580,"y":340,"wires":[["cc66bc34.33994"]]},{"id":"b57b7828.4a8488","type":"http in","z":"2e956e24.d16a92","name":"UI Home","url":"/pages/home.html","method":"get","swaggerDoc":"","x":364,"y":340,"wires":[["e6aa36b3.1955c8"]]},{"id":"dc4fe743.23b018","type":"template","z":"2e956e24.d16a92","name":"About","field":"payload","format":"html","template":"    <!-- about.html -->\n    <div class=\"jumbotron text-center\">\n        <h1>About Page</h1>\n\n        <p>{{ message }}</p>\n    </div>","x":580,"y":382,"wires":[["cc66bc34.33994"]]},{"id":"75dfce42.8a203","type":"http in","z":"2e956e24.d16a92","name":"UI About","url":"/pages/about.html","method":"get","swaggerDoc":"","x":365,"y":383,"wires":[["dc4fe743.23b018"]]},{"id":"dc6e3b86.2391c8","type":"template","z":"2e956e24.d16a92","name":"Contact","field":"payload","format":"html","template":"    <!-- contact.html -->\n    <div class=\"jumbotron text-center\">\n        <h1>Contact Page</h1>\n\n        <p>{{ message }}</p>\n    </div>","x":577,"y":426,"wires":[["cc66bc34.33994"]]},{"id":"ebb13e50.144ec","type":"http in","z":"2e956e24.d16a92","name":"UI Contact","url":"/pages/contact.html","method":"get","swaggerDoc":"","x":362,"y":427,"wires":[["dc6e3b86.2391c8"]]}]